// bower:scss
// endbower

$white: #FFFFFF;
$white-offWhite: #FDFDFD;

$gray-primary: #474747;
$gray-primary-hover: #9E9D9D;
$gray-secondary: #E6E6E6;

$red: #D71921;
$red-background: #F9E6E6;

// Fit the content to the bounds of the application
@mixin fitContent {
  position: relative;
  float: left;
  width: 100%;
  max-width: 1024px;
  margin-left: calc(50% - 512px);
  @content;
}

// Button mixin
@mixin buttonMix {
  height: 40px;
  width: 160px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
  @content;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  background-color: $white-offWhite;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
}

h3 {
  font-weight: 400;
}

a.button {
  @include buttonMix {
    background-color: #D9D9D9;
  }
  width: 200px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

form {
//  position: relative;
  float: left;
  background-color: #F2F2F2;
  width: 600px;
  padding-left: 25px;
  padding-right: 35px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: .9rem;
  p {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  a {
    display: block;
    margin-top: 8px;
    font-size: .8rem;
    font-weight: 300;
    color: $gray-primary;
  }
  input {
    width: 100%;
    height: 2rem;
    padding: .25rem;
    background-color: $white;
    border: 1px solid $gray-primary-hover;
    border-radius: 3px;
    font-size: 0.9rem;
    &:placeholder-shown {
      font-style: italic;
    }
  }
  input[type=button] {
    @include buttonMix {
      float: right;
      color: $white;
      background-color: $gray-primary;
      margin-right: -10px;
      &:hover {
        background-color: $gray-primary-hover;
      }
    }
  }
}

.formAlternate {
  text-align: center;
}

// Container holds every part of the app except header and footer
.container {
  @include fitContent {
    padding: 30px;
    background-color: $white;
  }
}

.actionCall {
  margin-bottom: 40px;
}

//.content {
////  position: relative;
//  margin: -15px;
//  padding: 15px;
//  width: 100%;
//  background-color: #FAFAFA;
//}

.header {
  @include fitContent {
    height: 100px;
    background-color: #F2F2F2;
    padding-left: 20px;
  }
}

.footer {
  @include fitContent {
    height: 120px;
    background-color: #5E5E5E;
  }
}

.alert {
  float: left;
  width: 100%;
  height: 60px;
  padding: 1.3rem;
  margin-bottom: 15px;
  margin-top: -25px;
  border: 1px solid $red;
  border-radius: 5px;
  color: $red;
  font-size: .9rem;
  background-color: $red-background;
  a {
    color: $red;
  }
  &:after {
    content: "X";
    color: #000000;
    float: right;
    font-size: 1.4rem;
    font-weight: 900;
    margin-top: -3px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// The container should max out at 1000px and take the whole screen if the
// size is less than that
@media screen and (max-width: 1024px) {
  .header {
    margin-left: 0px;
  }
  .container {
    margin-left: 0px;
  }
  .footer {
    margin-left: 0px;
  }
}

// Screen size is less than 420px wide
@media screen and (max-width: 420px) {
  form {
    padding: 10px;
  }
//  form.input[type=button] {
//    width: 100%;
//  }
}
