<div class="header">
  <div class="navigation">
    <div class="logoArea"></div>
    <div class="navigationButton leftNav">Buy</div>
    <div class="navigationButton leftNav">Sell</div>
    <div class="navigationButton leftNav">About</div>
    <div class="navigationButton leftNav">Blog</div>
    <a href="#/login" class="navigationButton rightNav darker">Login</a>
    <a href="#/register" class="navigationButton rightNav lighter">Sign-up</a>
    <a href="#" class="navigationButton packedNav">MENU</a>
  </div>
  <div class="subNavigation">
    <a href="#">[Breadcrumbs]</a>
  </div>
</div>
